*{
    margin: 0;
    padding: 0;
    color: #333;
}
a{
    text-decoration: none;
}
.out-div{
    width: 100%;
}
.header{
    height: 50px;
    line-height: 50px;
}
.nav{
    list-style: none;
    margin: 0 auto;
    width: 80%;
    min-width: 600px;
}
.nav li{
    float: left;
    width: 15%;
    padding-left: 5%;
}
.main{
    position: relative;
}


.paper{
    position: absolute;
    top: 0;
    left: 30%;
    transition: left 1s;
    transform-origin: 0 100%;
    transform: rotateY(0deg) skewY(0deg);
    width: 60%;
    height: 900px;;
    overflow: hidden;
}
.prev{
    transform: rotateY(180deg) skewY(0deg);
}
.leftPage{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.rightPage{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    z-index: 0;
}
.act{
    z-index: -1;
}
.clear::after{
    content: ".";
    display: block;
    visibility: hidden;
    width: 100%;
    height: 0;
    max-height: 0;
    clear: both;
}
.clear{
    zoom: 1;
}