*{
    margin: 0px;
    padding:0px;
}
@font-face{
    font-family:myFont;
    src: url('MFDingDing_Noncommercial-Regular.ttf')
}
body{
    background: url(img/d.jpg) no-repeat center 150px #f9f6e3;
    height: 100%;
    width:100%;
    overflow: hidden;
}
#logo{
    height: 800px;
    width: auto;
    float: left;
    list-style: none; 
}
#logo li{
    margin:10px;
    font-family: myFont;
    text-align:center;
    font-weight: bold;
    color: #243e2a;
    font-size: 24px;
    width:74px;
    height:110px;
    position: absolute;
    top:0px;
    left: 0px;   
    outline:0;
}
.bag{
    background-color:rgba(32, 94, 92, 0.2);
    border:5px solid #fbdae3;
    border-radius: 20px;
    position: absolute;
    height: 0;
    width: 0;
    overflow-x:hidden;
}
.bag li{
    margin:5px;
    font-family: myFont;
    text-align:center;
    font-weight: bold;
    color: #243e2a;
    font-size: 24px;
    width:70px;
    height:100px;
    position: absolute;
    float: left;
    list-style: none; 
}
.bag img{
    display: block;
    transform: scale(0.7);  
}
.bag ul span{
    display: block;
    width:70px; 
    height:24px; 
}
.active,.bang,#logo li:hover,.bag li:hover{
    background: pink;
    border:1px solid #000;
    border-radius: 15%;
}
#logo li img{
    display: block;
    margin:0 auto;
}
#logo li span{
    display: block;
    width:74px; 
    height:30px;  
}
#bot{
    position: absolute;
    padding:0 10px;
    bottom: 0;
    height: 70px;
    background-color: rgba(236, 166, 91, 0.2);
    border-radius: 10%;
    list-style: none;
}
#bot li{
    float: left;
    height:60px;
    width: 70px;
    transition: 0.3s
}
#bot li img{
    position: absolute;
    transform: scale(0.7);
    display: block;
}
.kuang{
    position: absolute;
    background: olivedrab;
    opacity:0.2;
    border: 6px solid transparent;
    border-radius: 15px 0 15px 0;
}
.editor{
	display: none;
    width:68px; 
    height:26px;   
	line-height:24px;
	color:#000;
	margin:0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    outline:0;
}
.bag ul{
    position: relative
}
.feilei{
    display: block;
    width:350px; 
    height:30px; 
    background-color: rgba(32, 94, 92, 0.2);
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    font-family:myFont;
}
.btn{
    height:30px;
    color:black;
    width: 30px;
    position: absolute;
    top:0;
    left:320px;
    background-color: rgba(32, 94, 92,0);
    outline: none;
}
.editorq{
    outline: none;
    background-color: rgba(32, 94, 92,0.2);
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    font-family:myFont;
    display: none;
    width:350px; 
    height:30px; 
}

@keyframes snow{
	0% {
		background-position: 0 0, 0 0,0 0,0 0;
	}
	100% {
		background-position: 500px 500px, 1000px 500px,1000px 1000px,700px 600px;
	}
}

#snowMask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('snow1.png'),url('snow22.png'), url('fengye3.png'),url('fengye4.png');
	animation: 10s snow linear infinite;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s
}

.nb-note{
    height: 40px;
    position: absolute;
    right: 10%;
    top: 10%;
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nb-note-title{
    width: 300px;
    min-width: 300px;
    height: 40px;
    line-height: 40px;
    background:rgb(52, 83, 6);
    opacity: 0.5;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nb-note-cont{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.nb-note-cont textarea{
    width: 300px;
    min-width: 300px;
    height: 200px;
    min-height: 200px;
    background:#fff;
    opacity: 1;
    box-sizing: border-box;
    overflow: hidden;
    padding: 6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;
}
.nb-note-title span{
    display: inline-block;
    height: 40px;
    color: #fff;
    box-sizing: border-box;
    
}
.nb-new,.nb-note-menu,.nb-note-up,.nb-note-close{
    width: 20px;
    text-align: center;
    cursor: pointer;
}
span.nb-title-name{
    min-width: 90px;
    width: 90px;

}
.nb-ipt{
    display: none;
    width: 86px;
}
.nb-move{
    cursor: move;
    width: 100px;
    min-width: 100px;
    height: 40px !important;
}
.nb-tit-r{
    float: right;
    padding-right: 8px;
}
.nb-clear::after{
    content:".";
    display: block;
    visibility: hidden;
    width: 100%;
    max-height: 0;
    clear: both;
}
.nb-clear{
    zoom: 1;
}
.nb-top{
    z-index: 20 !important;
}
.nb-top-btn{
    font-weight: bold;
    font-size: 16px !important;
    border-radius: 10px;
}
.nb-menu{
    position: absolute;
    left: 50%;
    top: 20%;
    width: 100px;
    border-radius: 10px;
    border: 2px dotted #000;
    overflow: hidden;
    display: none;
}
/* .nb-menu ul{
    padding: 10px;
} */
.nb-menu li{
    list-style: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid yellow;
    cursor: pointer;
    opacity: .9;
}
.nb-menu li:last-child{
    border: none;
}
    .outLx{
            position:absolute;
            width: 1100px;
            height:600px;
            left:200px;
            top:50px;
            border: 1px solid #000;
            background: rgba(0,0,0,0.3);
            display:none;
            border-radius:10px;
        }
        .outLx .lxh3{
            margin:0;
            padding:5px 10px;
            overflow: hidden;
            background: rgba(0,0,0,1);
            border-radius: 10px 10px 0 0;
        }
        .spanLx{
            float: right;
            font-size:30px;
            cursor:pointer;
        }
        .openLx{
            display: block;
        }
    .webBox{
    width: 700px;
    height: 450px;
    display: none;
    z-index: 222;
    box-shadow: 5px 15px 10px #999;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -225px;
    margin-left: -350px;
    border-radius: 15px;
    background-color: #f2a3a9
    }
    .webBoxTop{
    height:28px;
    background: #f2f2f2;
    line-height: 28px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    }
    .webBoxTop p{
    text-align: center;
    font-size: 18px;
    color:deepskyblue;
    font-weight:bold;
    font-family: "arial black"; 
    }
    .webBoxTop .shuaxin{
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    background: url(img/shua.png) no-repeat 3px 9px;
    }
    .webBoxView{
    position: absolute;
    width: 90px;
    height: 30px;
    right: 0;
    top: 0;
    }
    .magnify, .close{
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    background: url(img/xxx.png) no-repeat ;
    }
    .webBoxView .magnify{
    background-position: left -30px; 
    }
    .webBoxView .close{
    background-position: left -90px;
    }
    .webBoxContent{
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid lightgray;
    }
    .webBoxView .reduce:hover{background-position:left -120px;}
    .webBoxView .magnify:hover{background-position:left -149px;}
    .webBoxView .close:hover{background-position:left -208px;}
    .webBoxView a.active{background-position:left -60px;}
    .webBoxView a.active:hover{background-position:left -181px;}
    iframe{
    width: 100%;
    height: 100%;
    border: none;
    }



