*{
    margin: 0;
    padding: 0;
}
.content{
    /* border: 5px solid pink; */
    overflow: hidden;
}
div{
    text-align: center;
    width: 350px;
}
div span{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    /* background: pink; */
    text-align: center;
    margin: 1px;
}
.ctitle li{
    background: white;
}
ul{
    width: 350px;
}

li{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: pink;
    list-style: none;
    float: left;
    box-sizing: border-box;
    text-align: center;
    /* border-radius: 15px; */
}
li.prev,li.next{
    background:white;
}