*{
    margin: 0;
    padding: 0;
    color: #797979;
}
ul,li{
    list-style: none;
}
body{
    overflow: hidden;
}
a{
    text-decoration: none;
    display: inline-block;
    width: 100px;
}

.out-div{
    width: 100%;
}
.header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #e8e4e2;
    text-align: center;
    position: relative;
}

.nav{
    list-style: none;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    min-width: 600px;
    text-align: center;
}
.nav li{
    float: left;
    width: 16%;
    min-width: 70px;
    height: 100%;
    text-align: center;
}
.content{
    text-align: center;
}
.main{
    position: relative;
    height: 100%;
    min-height: 600px !important;
    padding-top: 10px;
}
.main li{
    text-align: left;
}
.paper{
    position: absolute;
    top: 15px;
    /* left: 33%; */
    transition: left 1s;
    transform-origin: 0 100%;
    transform: rotateY(0deg) skewY(0deg);
    width: 40%;
    min-width: 300px;
    height: 100%;
    overflow: hidden;
}
.prev{
    transform: rotateY(180deg) skewY(0deg);
}
.leftPage,.rightPage{
    position: absolute;
    top: 0;
    left: 0;
    background: #f4f4f4;
    border: 1px solid #e8e4e2;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.leftPage{
    z-index: 1;
    border-left: 2px solid #797979;
}
.rightPage{
    transform: rotateY(180deg);
    z-index: 0;
    border-right: 2px solid #797979;
}
.act{
    z-index: -1;
}

.jl-head{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 50px 0;
    text-indent: 4em;
}
.jl-head div{
    float: left;
}
.jl-head span{
    display: block;
}
.jl-title {
    width: 40%;
}
.jl-title span{
    font-size: 44px;
}
.t-split{
    width: 1px;
    height: 100%;
    background: #797979;
    margin: 0 10px;
    overflow: hidden;
}
.t-info{
    width: 50%;
    height: 100%;
    position: relative;
}
        
.t-info span{
    height: 25%;
    position: absolute;
}
.t-info span:first-child{
    left: -65px;
    top: -8px;
}
.t-info span:last-child{
    left: -65px;
    top: 10px;
}
.t-hr{
    width: 100%;
    height: 20px;
    padding-left: 1%;
    margin-top: 20px;
}
.t-hr div{
    display: inline-block;
    height: 0;
}
.l-hr{
    width: 57%;
    border-bottom: 20px solid #7c7c7c;
    border-right: 8px solid transparent;
    border-top: none;
    border-left: none;
}
.r-hr{
    width: 37%;
    border-top: 15px solid #9f9f9f;
    border-left: 6px solid transparent;
    border-bottom: none;
    border-right: none;
    margin-top: 5px;
}
.jl-photo{
    width: 100% ;
    height: 100% ;
}
.jl-photo img{
    width: 60% !important;
    height: 60% !important;
    margin: 10% 20%;
}
.p-info{
    width: 100%;
    height: 100%;
}
.p-info ul{
    width: 80%;
    margin: 20% auto;
}
.p-info li{
    float: left;
    width: 50%;
    height: 50px;
    line-height: 50px;
    padding: 5% 0;
}
.job-info h2{
    text-indent: 2em;
    margin-top: 10%;
}
.job-info ul{
    width: 80%;
    margin: 5% auto 10%;
}
.job-info li{
    height: 70px;
}
.sch-info ul{
    width: 80%;
    margin: 20% auto;
}
.sch-info li{
    height: 70px;
}
.clear::after{
    content: ".";
    display: block;
    visibility: hidden;
    width: 100%;
    height: 0;
    max-height: 0;
    clear: both;
}
.clear{
    zoom: 1;
}