/* CSS 样式重置 ↓ */
*{
	box-sizing: border-box;
	font-family: "Microsoft YaHei"
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

h1,h2,h3,h4,h5,h6,em,i {
    font-weight: 100;
    font-style: normal
}
ul,ol,li {
    list-style-type: none
}
a {
    color: #666;
    text-decoration: none;
    outline: 0
}
a:hover {
    text-decoration: none
}　
/* 清除浮动 */
.clearfix{
	zoom:1
}
.clearfix::after{
	content: ".";
	height: 0;
	width: 100%;
	display: block;
	visibility: hidden;
	clear: both;
}
/* CSS 样式重置 ↑ */
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
img{
	max-width: 100%;
}
.adcenter{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
	padding-left: 40px;
}
.adcenter div{
	display: inline-block;
}
.adtop{
	padding-left: 16px;
}
.ad-left{
	float: left;
}
.ad-right{
	float: right;
	padding-right: 5em;
	height: 100%;
}
.ad-right>div{
	padding-top: 1.6em;
	position: relative;
}
.ad-right .num{
	display: inline-block;
    position: absolute;
    top: 1.5em;
    right: -15px;
    z-index: 10;
    background: red;
    border-radius: 10px;
    color: #fff;
    width: auto;
	height: auto;
	text-align: center;
	font-weight: 600;
	padding: 2px;
	font-size: 12px;
}
.ad-right img{
	vertical-align: middle;
	margin: .4em 0 0 .4em;
}
.ad-right a{
	color: #b3b3b3;
	cursor: pointer;
}
.ad-right p a:hover{
	text-decoration: underline;
}
.header{
 	width: 100%;
}
.header .container{
  	position: relative;
}
.header .logo {
	position: absolute;
	z-index: 10;
}
.total{
	color:#000;
}

.head-top{
	width: 100%;
	background: #2e2e2e;
	padding: 0.6em 0;  
}
.head-top a ,.head-top span {
	color: #fff;
}
.head-top a:hover{
	color: #f67777;
	cursor: pointer;
}
.head-top ul{
	margin-left: 190px;
}
.head-top li{
	margin: 0 10px;
}
.head-btm ul{
	margin-left: 170px;
}
.head-btm li{
	box-sizing: border-box;
	width: 122px;
	height: 62px;
	text-align: center;
	border-right: 1px solid #EFEFEF;
	position: relative;
}
.head-btm li a{
	display: inline-block;
	width: 100%;
	padding: 20px 0 21px;
	cursor: pointer;
}
.head-btm li a:hover{
	background: #f67777;
	color:#fff;
}
.head-btm li a:hover .sj{
	border-top: 6px solid #fff;
}
.act{
	background: #f67777;
	color:#fff !important;
}
.w-list{
	width: 845px;
	padding: 1em;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-top: 1px solid #333;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.w-list h2{
	text-align: left;
	font-size: 1.2em;
	margin-bottom:0.5em;
	color: #000;
	font-weight: 400;
}
.w-list>div{
	float: left;
	width: 20%;
}
.w-list ul{
	margin-left: 0;
}
.w-list ul li{
	text-align: left;
	height: 30px;
	line-height: 30px;
	color: #3a3a3a;
	padding:6px 0; 
}
.search{
	cursor: pointer;
	display: inline-block;
	font-weight: bolder;
	font-size: 1.2em;
	color: red;
	width: 96px;
	height: 62px;
	line-height: 66px;
	background-size: 68px 68px ;
	margin-left: 12px;
	position: relative;
}
.search div{
	position: absolute;
	display: block;
	z-index: 1000;
	background: #fff;
	top: 61px;
	left: -12px;
	border: 1px solid #f67777;

}
.search div ul{
	margin-left: 0;
	height: auto;
}
.search div li{
	float: none;
	text-align: left;
	text-indent: .5em;
}
.search li a{
	padding: 0;
	margin: 0;
	float: left;
	height: auto;
}
.sj{
	display: inline-block;
	width: 0;
	height: 0;
	margin-bottom: 4px;
    margin-left: 4px;
	border-top: 6px solid #2e2e2e;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	vertical-align: middle;
}
.container{
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}
.container li{
	list-style: none;
	float: left;
	text-align: center;
}
.bannerfix {
	position: absolute;
	z-index: 999;
}
.banner-dot{
	position: absolute;
	z-index: 999;
	transition: .5s;
}

.banner-dot li{
	float: left;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 25px;
	background: #fff;
	color: #f67777;
	margin-right: 10px;
	cursor: pointer;
}
.banner-dot li:nth-child(1){
	background:#f67777;
	color: #fff;
}
.replace{
	position: relative;
	width: 100%;
}
.replace ul{
	position: relative;
	width: 500%;
	overflow: hidden;
	transition: 1s;
}
.container ul{
	width: 100%;
}
.banners{
	width: 100%;
	overflow: hidden;
}
.banner{
	width: 20%;
	height: 700px;
	overflow-x: hidden;
	font-family: "Microsoft YaHei";
	float: left;
}

.banner1{
	background: url(./main/imgs/ba11.jpg) no-repeat right top;
	background-size: cover;
}
.banner2{
	background: url(./main/imgs/ba12.jpg) no-repeat right top;
	background-size: cover;
}
.banner3{
	background: url(./main/imgs/ba13.jpg) no-repeat right top;
	background-size: cover;
}
.banner4{
	background: url(./main/imgs/ba14.jpg) no-repeat right top;
	background-size: cover;
}

.banner .container{
	margin: 0 auto;
	padding: 210px 0 0;
}
h1>span:first-child{
	display: block;
	font-size: 5em;	
}
.rw-words {
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: relative;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	perspective: 800px;
	white-space: nowrap;
}


.rw-words span:nth-child(2){
	animation-delay: 3s;
}
.rw-words span:nth-child(3){
	animation-delay: 6s;
}
.rw-words span:nth-child(4){
	animation-delay: 9s;
}
.rw-words span:nth-child(5){
	animation-delay: 12s;
}
.rw-words-1 span{
	animation: rotateWords1 12s linear infinite 0s;
	font-size: 1.6em;
	line-height: 2em;
}
.rw-words-2 span{
	animation: rotateWords2 12s linear infinite 0s;
	font-size: 3em;
	color: #f67777;
	font-style: italic; 
}

@keyframes rotateWords1 {
    0% { opacity: 0; animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWords2 {
	0% { opacity: 0; transform: translateZ(200px) translateX(200px);}
    8% { opacity: 1; transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}


.cont-t-lt{
	float: left;
	width: 50%;
}

.cont-t-rt{
	float: right;
	width: 50%;
}
.cont-top {
	padding: 5em 0;
}
.top-img{
	position: relative;
	overflow: hidden;
}
.top-img a{
	cursor: pointer;
}
.top-fly {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding-top: 15em;
}
.top-fly p{
	position: relative;
	right: -100%;
	font-size: 1.6em;
}
label{
	display: block;
	width: 100px;
	height: 2px;
	background: #fff;
	border-radius: 10px;
	margin: 0.5em auto;
}
.top-fly label{
	position: relative;
	right: -100%;	
}
.top-fly h2{
	position: relative;
	left: -100%;
	font-size: 2em;
}
.top-fly:hover{
	background: rgba(8, 8, 8, 0.64);
}
.top-fly:hover p , .top-fly:hover label{
	color: #fff;
	right: 0;
}
.top-fly:hover h2{
	color: #f67777;
	left: 0;
}
.b-animate{
	transition: .5s;
}
.cont-t-lt,.cont-t-rt{
	padding: 0 15px;
	box-sizing: border-box;
	width: 50%;
}
.cont-t-lt .btm {
	padding-top: 1em;
}
.cont-t-lt .btm span{
	font-size: 1.5em;
	color: #f67777;
}
.cont-t-lt .btm h2{
	font-size: 2.2em;
	line-height: 2em;
}

.cont-t-lt .btm p{
	padding: 0.5em 1em 1em 0;
	color: #b3b3b3;
}
.cont-t-lt .btm a{
	color: #000;
}
.cont-t-lt .btm .buy{
	padding: 0.5em 0 0.5em ;
	border-bottom: 2px solid #f67777;
	color: #f67777;
}
.rt-col{
	margin-bottom: 1.5em;
	position: relative;
	overflow: hidden;
}
.rt-col a{
	cursor: pointer;
}
.rt-col div{
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.59);
	width: 100%;
	height: 99%;
	text-align: center;
	padding-top: 6.5em;
}
.rt-col p{
	font-size: 1.5em;
	color: #fff;
}
.rt-col h3{
	font-size: 2em;
	color: #f67777;
}
.cont-mid h2{
	text-align: center;
	font-size: 2.5em;
	line-height: 1.6em;
	width: 100%;
}
.cont-mid label {
	height: 2px;
	background: #f67777;
	width: 200px;
}
.cont-mid .box{
	padding-top: 2em;
}
.cont-mid li{
	padding: 5px;
	transition: .5s;
}

.cont-mid li>div{
	text-align: center;
	width: 255px;
	height: 444px;
	border: 1px solid #efecec;
}
.pro-img,.pro-txt{
	padding: 10px;
	position: relative;
}
.pro-img a {
	cursor: pointer;
}
.pro-img div{
	position: absolute;
	width: 92%;
	height: 182px;
	top: 0;
	opacity: 0;
	transition: .3s;
	text-align: center;
}
.pro-img:hover div{
	top: 43%;
	opacity: 1;
}
.pro-img div a{
	margin: .5em;
}
.sex-style{
	text-align: left;
	float: left;
}
.sex-style h6{
	padding-top: .4em;
}
.sex-style span{
	font-size: 0.8em;
	color: #f67777;
}
.sex-style a{
	color: #000;
	display: inline-block;
	width: 190px;
}
.pro-add{
	float: right;
	padding-top: .2em;
}
.pro-add a{
	cursor: pointer;
}
.pro-add img{
	vertical-align: middle;
}
.txt-btm {
	padding-top: .6em;
}
.pro-price{
	color: #b4b4b4;
	text-align: left;
	font-size: 0.8em;
	float: left;
}
.pro-price span{
	text-decoration: line-through;
}
.pro-count{
	float: right;
	font-size: 0.9em;
	color: #b8b8b8;
}
.pro-count span{
	text-decoration: none ;
}
.pro-price strong , .pro-count strong{
	color: rgb(123, 184, 88);
}
.mask{
	position: fixed;
	z-index: 90;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: none;
}
.mask div{
	margin: 5% auto 0;
	width: 600px;
	height: auto;	
	position: relative;
}
.mask img{
	width: 100%;
}
.mask .close,.logindiv .close{
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
	position: absolute;
	top: -15px;
	right: -15px;
	background: red;
	color: #fff;
	cursor: pointer;
}


/* 列表页面 ↓ */
.l-banner{
	text-align: center;
    width: 100%;
    height: 250px;
    display: block;
    background: url(./main/imgs/back.jpg) no-repeat;
    padding: 5em 0;
	background-size: cover;
	color:#fff;
}
.l-banner h2{
	font-size:2em;
}
.w-mid-l{
	float: left;
	width: 75%;
}

.de-top {
	float: left;
	margin: 0 15px;
	width: 120%;
}
.de-t-l{
	float: left;
	width: 40%;
	padding: 0 15px;
	position: relative;
}
#mask{
	position: absolute;
	display: inline-block;
	top: 0;
	left: 100%;
	height: 500px;
	width: 100%;
	z-index: 999;
	overflow: hidden;
	border: 1px solid #f67777;
	display: none;
}
#mask div{
	width: 1000px !important;
	height: auto;
	position: absolute;
}
#mask img{
	width: 100%;
}
/* .de-btm{
	float: right;
	width: 33%;
} */
.img-big{
	border: 1px solid #d1cfcf;
	height: 500px;
	overflow: hidden;
	position: relative;
	cursor: move;
	text-align: center;
}

.img-big img{
	width: 100%;
}
.img-small{
	margin: 5px;
	width: 100%;
}
.img-small ul{
	margin-left: -5px;
}
.img-small li{
	float: left;
	width: 32.3%;
	margin-right: 1%;
	border: 1px solid #d1cfcf;
	cursor: pointer;
	height: 156px;
}
.img-small img{
	opacity: .7;
	transition: 1s ease;
	height: 100%;
}
.img-small img:hover{
	opacity: 1;
}
.de-t-r{
	padding: 0 15px;
	float: right;
	width: 58%;
}
.de-t-r h3{
	font-size: 2em;
}
.de-jj{
	font-size: 1em;
	color: #b3b3b3;
	line-height: 2em;
	margin: 1em 0;
	border-bottom: 1px solid #f0f0f0;
    border-top: 3px double #f0f0f0;
    padding: 1em 0;word-break: break-all;
	overflow: hidden;
    text-overflow: ellipsis;
}
.de-sale{
	color: #F67777;
	font-size: 1.5em;
	text-align: left;
	padding-bottom: 1em;
	border-bottom: 1px solid #f0f0f0;
}

.de-t-r h4{
	color: #000;
    font-size: 1.2em;
    margin-top: 1em;
}
.div-ms{
	height: 250px;
	border-bottom: 1px solid #f0f0f0;
}
.de-ms{
	max-height: 130px;
	color: #B3B3B3;
    font-size: 0.9em;
    line-height: 2em;
	margin: 1em 0 2em;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
    text-overflow: ellipsis;
}
.addpro{
	padding: 1.5em 0;
}
.addmin , .addmax , .enval{
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-right: 5px;
	float: left;
}
.addmin,.addmax{
	border: 1px solid #b2b2b2;
	cursor: pointer;
}
.addmin::before,.addmax::before{
	content : "";
	display : "inline-block";
	height: 2px;
	width: 40%;
	background: #000;
	position: absolute;
	top: 50%;
	left: 30%;
}

.addmax::after{
	content : "";
	display : "inline-block";
	height: 40%;
	width: 2px;
	background: #000;
	position: absolute;
	top: 33%;
	left: 47%;
}

.enval{
	cursor: default;
    color: #666;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
}
.addcart{
	background-color: #F67777;
    color: #fff;
    padding: 0.5em 1em;
	font-size: 1em;
	float: right;
	cursor: pointer;
}
.de-btm{
	padding-top: 3em;
	width: 120%;
	float: left;
}

.nav-sidebar{
	width: 25%;
	float: left;
	border: 1px solid #EDEDED;
}
.nav-sidebar li{
	float: none;
	padding: 1em 3em;
	color: #B3B3B3;
	text-align: left;
	cursor: pointer;
}
.nav-sidebar li:nth-child(2){
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
.nav-sidebar li.act{
	background: #F67777 !important;
    color: #fff;
}

.tab-content{
	width: 75%;
	float: left;
	text-align: left;
	padding: 1em;
	border: 1px solid #EDEDED;
}
.tab-content p{
	color: #B3B3B3;
    font-size: 0.9em;
    line-height: 2em;
    padding: 0 0 1em;
}
.login .w-mid{
	padding-top: 5em;
}
.login-form{
	float: left;
	width: 50%;
}
.login-form>div{
	padding: 0.5em 1em;
	margin-bottom: 2em;
	border: 1px solid #E9E9E9;
}
.login-form input{
	border: none;
	outline: none;
	font-size: 0.9em;
	color: #999;
	width: 95%;
}
.login-form .login-sub{
	border: none;
	padding-left: 0;
}
.login-sub span{
	background-color: #F67777;
    color: #fff;
    padding: 0.5em 1em;
	font-size: 1em;
	cursor: pointer;
}
.login-sub span:hover{
	color:rgb(183, 190, 81);
	background-color: rgb(100, 59, 59);
}
.login-sub a{
	display: inline-block;
	padding: .5em 1em;
	cursor: pointer;
	margin-left: 2em;
}
.login-sub a:hover{
	text-decoration: underline;
}
.login-info div{
	border: none;
}
.login-info input{
	background: #fff;
}
.brand {
	padding: 5em 0;
}
.brand li{
	width: 25%;
}
.footer {
	background: #1f1f1f;
	padding: 4em 0;
}
.footer .container{
	padding-left: 3em;
}
.footer .container>div{
	width: 25%;
	float: left;
	padding: 0 15px;
}
.footer p,.footer ul li{
	font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
	margin-top: 1em;
	width: 100%;
	text-align: left;
}
.footer h6{
	color: #B3B3B3;
	font-size: 1.2em;
	width: 100%;
	margin-top: 1em;
}
.footer ul{
	padding-top: 1em;
}
.footer div.col{
	width: 13%;
}
.qrcode h6{
	padding-bottom: 1em;
	text-align: center;
}
.copy{
	background: #000;
	padding: 1em 0;
	color: #fff;
	text-align: center;
}
.col-first{
	margin-left: 5em;
}
.w-mid-r{
	width: 25%;
	overflow: hidden;
	float: right;
	padding-top: 1em;
}
.w-mid-r>div{
	border-top: 1px solid #E9E9E9;
	padding-top: 1em;
	overflow: hidden;
}
.w-mid-r h5{
	font-size: 1.7em;
	color: #F67777;
	padding-left: 15px;
}
.w-mid-r li{
	width: 100%;
	text-align: left;
	color: #000;
}
.w-mid-r input{
	margin-right: 1em;
	border: none;
	vertical-align: middle;
}
.cart{
	padding-top: 3em;
}
.cart-title{
	margin-bottom: 1em;
}
.cart-title ul{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #f67777;
}
.cart-title li, .cart-list li{
	text-align: left;
	width: 12%;
	
}
.cart-title li{
	height: 50px;
	line-height: 50px;
	font-size: 1.5em;
}
.cart-list ul{
	height: 130px;
	margin-bottom: 1em;
	box-sizing: border-box;
	border-bottom: 1px solid #f67777;
}
.cart-list li{
	height: 92px;
}
.cart-title li:nth-child(1), .cart-list li:nth-child(1){
	width: 40%;
}

.cart-list a{
	float: left;
	width: 20%;
}
.cart-list p{
	float: left;
	width: 80%;
	padding: 0 1em 1em 2em;
}
.cart-num{
	line-height: 92px;
	text-align: center !important;
	cursor: pointer;
}
.cart-num span{
	margin-top: 26px;
}
.cart-num .del {
	padding: 0.5em 1em;
	background: #f67777;
	color: #fff;
}
.checkout span{
	width: 40%;
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 1.3em;
	text-align: center;
	color: #333;
}
.checkout a{
	float: right;
	width: 10%;
	height: 50px;
	line-height: 50px;
	font-size: 1.5em;
	text-align: center;
	background: #f67777;
	color: #fff;
	cursor: pointer;
}
.checkout a:hover{
	color: rgb(182, 88, 88);
}

#tips{
	position: fixed;
	top: -3em;
	left: 43%;
	height: 2em;
	line-height: 2em;
	color:#fff;
	transition: .5s;
	background: #f67777;
	z-index: 1000;
	width: 255px;
	text-align: center;
}

@media (max-width: 767px){
	.container {
		width: 750px;
	}
	.head-btm li{
		width:70px;
	}
	.bannerfix {
		top: 5%;
		left: 5%;
	}
	.banner-dot{
		top: 12%;
		left: 42%;
	}
	.cont-t-lt, .cont-t-rt{
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.cont-t-lt{
		padding-bottom: 2em;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.cont-t-lt, .cont-t-rt{
		float: none;
		width: 83%;
		margin: 0 auto;
	}
	.cont-t-lt{
		padding-bottom: 2em;
	}
	.banner-dot{
		top: 10.5%;
		left: 42%;
	}
	.bannerfix {
		top: 4%;
		left: 10%;
	}
	.cont-mid{
		padding-top: 0;
	}
	.box ul{
		padding-left: 8%;
	}
	.box li>div {
		width: 300px;
	}
	.head-btm li{
		width:90px;
	}
	.cont-t-rt>div , .cont-t-lt>div{
		text-align: center;
	}
	.cont-t-rt>div , .cont-t-lt>div{
		text-align: center;
	}
	div.btm{
		text-align: left;
		width: 580px;
		margin: 0 auto;
	}
	.rt-col>a>div,.top-fly{
		width: 580px;
	}
	.top-img,.rt-col{
		width: 580px;
		margin: 0 auto;
	}
	

}
@media screen and (min-width: 768px) and (max-width: 795px){
	.banner-dot{
		top: 7.5%;
		left: 42%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.container {
		width: 970px;
	}
	.banner-dot{
		top: 17%;
		left: 42%;
	}

	.bannerfix {
		top: 5%;
		left: 15%;
	}
	.box ul{
		padding-left: 3%;
	}
	.head-btm li{
		width:110px;
	}
}

@media screen and (min-width: 1200px){
	.container {
		width: 1170px;
		margin: 0 auto;
	}
	.banner-dot{
		top: 19%;
		left: 45%;
	}
	.bannerfix {
		top: 8%;
		left: 20%;
	}
}

#tologin{
	position: fixed;
	z-index: 888;
	width: 100%;
	height: 100%;
	opacity: .3;
	background: #000;
	left: 0;
	top: 0;
}

.logindiv{
	position: fixed;
	width: 30%;
	background: #fff;
	left: 33%;
	top: 25%;
	z-index: 999;
	border-radius: 10px;
}
.logindiv ul{
	width: 90%;
	margin: 5% 5% 0;
}
.logindiv li{
	padding: 0.5em 1em;
    margin-bottom: 2em;
	border: 1px solid #E9E9E9;
	width: 100%;
}
.logindiv input {
	border: none;
	outline: none;
	font-size: 0.9em;
    color: #999;
	width: 95%;
}
.logindiv .sure{
	margin: 0 10% 5%;
}
.logindiv span{
	background-color: #F67777;
    color: #fff;
    padding: 0.5em 1em;
    font-size: 1em;
	cursor: pointer;
}
.sure a{
	display: inline-block;
	padding: .5em 1em;
	cursor: pointer;
	margin-left: 1em;
}
.wrong{
	color: red;
	display: none;
}
.contact input{
	border: none;
	outline: none;
	background: #fff;
	color: #000;
	font-size: 20px;
}
.contact div{
	border: none;
	outline: none;
}
.contact p{
	font-size: 1.2em;
	line-height: 2em;
	text-indent: 2em;
	color: #999;
}